.section_h2 {
  text-align: center;
}
.section_p {
  text-align: justify;
}

.section_image {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 0 auto;
}

@media (min-width: 1720px) {
  .section_p {
    font-size: 1.25em;
    text-align: center;
  }
}