.container {
  border: 1px solid #000000;
  width: 40%;
  margin: .5rem auto;
  padding: 1rem 6rem;
  float: none;
  text-align: center;
}

.container .package_image {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.container .package_name {
  margin: 0;
  font-size: 2em;
}

.container .properties .list {
  list-style: none;
  padding: 0;
}

.container button {
  padding: .75rem 1.25rem;
  border-radius: 30px;
  border: 1px solid black;
  cursor: pointer;
  background-color: white;
}

.container button:hover {
  box-shadow: .1rem .1rem .1rem #4f4f4f;
}